
.container{
    margin-bottom: 100px;

}


#header{
   margin-top: 20px;
   color:black;
}
#header img{
    height: 60px;
}
.li-style li a{
    color: rgb(14, 6, 6);
    font-size: large;
  

}
.li-style li a:hover{
    color: rgb(56, 54, 54);
}

.carousel-item{

    padding: 20px 40px;
 }
.bg-color{

    background-color: ;
    padding: 10px 40px;
}
body{
    box-sizing: border-box;
}
p{color:gray;}
.bay-now-button{
    background-image: linear-gradient(to bottom, rgb(10, 8, 9) 0%, #4e484a 100%);
    
        
      margin-top: 20px;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding:10px 35px;
        cursor: pointer;
    }
    .card{
        border: none;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgb(124, 67, 77);
        margin-top: 100px;
    }
#phone{

    background-color: rgb(201, 47, 47);
}
#categories {
    text-align: center;
    
}
#categories-row{

    padding:100px 20px;
    height: 500px;
  
}
#categories {
    text-align: center;
    border-bottom: 2px solid rgb(240, 224, 9);
    border-width: 10px;
    padding-bottom: 20px;
    display: inline-block;
}
#text{
     
 background-color: tomato;
 width: 100px;
}
#box-im-1{
    position: relative;
    top:-50px;
    text-align: center;
    background-color:rgba(251, 251, 251, 0.87);
   border-radius: 9px;
   margin: 5px 2px;
    padding: 20px 45px;

}
.box-im{
   background-color:rgba(251, 251, 251, 0.87);
   border-radius: 9px;
    text-align: center;
    margin: 15px 2px;
    padding: 10px 5px;
    

    
}


/*new css*/
#Categories{

    height: 500px;
}
#cat-1{
     
     margin: 5%;
     padding: 0%;
     
     text-align: center;
     
}
#cat-2 {
    
    height: 100%;
    margin: 4%;
    
    
}
#cat-2 img{
      margin: 10px 30px;
      
     width: auto;
     page-break-after: 5px;
}



